@model OBilet.CaseStudy.IndexModel
@using OBilet.Framework;
@{
	ViewBag.Title = "Home Page";
}


@Html.HiddenFor(m => m.originlocation)
@Html.HiddenFor(m => m.originlocationid)
@Html.HiddenFor(m => m.destinationlocation)
@Html.HiddenFor(m => m.destinationlocationid)
@Html.HiddenFor(m => m.departure)

<link href="~/Content/index.css" rel="stylesheet" />
<div class="card">
	<div class="card-header header">
	</div>
	<div class="card-body py-5" id="py">
		<div class="container">
			<form action="/Journey/Index" name="journeyForrm" method="get">
				<div class="row">
					<div id="fromlocationcontent">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-10"><label style="color:#2F4EB4"><b>Nereden</b></label></div>
						</div>
						<div class="row">
							<div class="col-md-1">
								<img src="~/Content/image/location3.jpg" id="imglocation3" />
							</div>
							<div class="col-md-10">
								@Html.DropDownList("originId", Model.BusLocations as IEnumerable<SelectListItem>, "İl veya ilçe adı yazın", new { @class = "form-control", id = "frombuslocation" })
								@Html.Label("originId", "Lüfen il veya ilçe seçiniz..", new { @class = "frombuslocationvalidation", id = "frombuslocationvalidation" })
							</div>
							@Html.Hidden("SessionInfo", Model.sessionId)
						</div>
					</div>
				</div>
				<div class="row">
					<button type="button" id="changeInfo"><img src="~/Content/image/arrow.png" id="imgsortalt" /></button>
				</div>
				<div class="row" style="margin-top:4px">
					<div id="tolocationcontent">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-10"><label style="color:#2F4EB4"><b>Nereye</b></label></div>
						</div>
						<div class="row">
							<div class="col-md-1">
								<img src="~/Content/image/location3.jpg" id="imglocation3another" />
							</div>
							<div class="col-md-10">
								@Html.DropDownList("destinationId", Model.BusLocations, "İl veya ilçe adı yazın", new { @class = "form-control", id = "tobuslocation" })
								@Html.Label("destinationId", "Lüfen il veya ilçe seçiniz..", new { @class = "tobuslocationvalidation", id = "tobuslocationvalidation" })
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top:14px">
					<div class="timestyle">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-10"><label style="color:#2F4EB4"><b>Tarih</b></label></div>
						</div>
						<div class="row">
							<div class="col-md-1">
								<img src="~/Content/image/calendar.png" class="calendar1" />
							</div>
							<div class="col-md-8">
								<input id="date" class="form-control flatpicker1" type="date" name="date">
							</div>
							<div class="col-md-3 timetodaytomorrow">
								<button type="button" class="timetorow" id="today">Bugün</button>
								<br />
								<button type="button" class="timetorow" id="tomorrow">Yarın</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<button type="submit" id="submit" class="btn btn-primary">Otobüs Bileti Bul</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="~/Scripts/index.js"></script>